.vs/
intermediate/
bin/
*.vcxproj.user

OrbitQt/Makefile
OrbitQt/Makefile.Debug
OrbitQt/Makefile.Release

OrbitQt/GeneratedFiles/
OrbitQt/debug/
OrbitQt/release/

OrbitGl/OrbitGl.log
OrbitCore/OrbitCore.log

build/

\.vscode/
